@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme:#20d3c2;
    --color-theme-light:#edfcfa;
    --color-theme-dark:#2c3461;
    --color-dark:#080c24;
    --color-white:#ffffff;
    --color-gray-0:#aaaaaa;
    --color-gray-1:#cccccc;
    --color-gray-2:#e3e3e3;
    --color-gray-3:#eeeeee;
    --color-gray-4:#f6f6f6;
    --color-product-instock:#82d8c6;
    --color-product-outofstock:#fe6c6c;

    --font-play:'Play', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;    

    --font-size-14: 1rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 0.7rem;
    --border-radius-meduim: 10rem;

}

/* general styling throughout */

html, body {
    font-family:var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color:var(--color-theme-dark);
}

.flex {
    display:flex;
}

.hidden-text {
    display:none;
}

.btn-theme {
    border-radius: var(--border-radius-meduim);
    font-weight: var(--font-weight-regular);
}

.required {
    color: var(--color-theme);
}

/* header */
/* green top menu */
.top-menu {
    background-color: var(--color-theme);
    color:var(--color-white);
}

.top-menu a {
    color:var(--color-white);
    text-decoration: none;
}

.top-menu a:hover {
    color:var(--color-theme-dark); 
}

.top-menu .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.7rem;
    height:100%;
}  

/* left side dropdown */
.top-menu .container .dropdown-theme button {
    background-color: var(--color-theme);
    color:var(--color-white);
    border:none;
}

.top-menu .container .dropdown-theme button:hover {
    color:var(--color-theme-dark);
}

.top-menu .container .dropdown-theme .dropdown-menu {
    background-color: var(--color-theme);
    border:none;
}

.top-menu .dropdown-theme .dropdown-menu .dropdown-item {
    background-color: var(--color-theme);
    color: var(--color-white);
}

.top-menu .dropdown-theme .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-theme);
    color: var(--color-theme-dark);
}

/* right side links */
.top-menu .top-menu-links a {
    margin-right: 1.2rem; 
    color:var(--color-white);
}

.top-menu .top-menu-links a:hover {
    color:var(--color-theme-dark);
    text-decoration: none;
}

.top-menu .top-menu-links .social-media a {
    margin-right:0.3rem;
    padding-right: 0.5rem;
}

/* logotype, my account */
.top-main-menu{
    background-color: var(--color-white);
    color:var(--color-theme-dark);
}

.top-main-menu .container {
    display: flex;
    justify-content:space-between;
    padding:2rem 0.7rem;
    margin-bottom: 2rem;
    position: relative;
}

/* searchbar */
.top-main-menu .container .search {
    position: absolute;
    border-radius:var(--border-radius-meduim);
    top:5rem;
    width: 100%;
    height:2rem;
}

.top-main-menu .container .search input{
    position: absolute;
    width: 100%;
    min-height: 100%;
    border-radius:var(--border-radius-meduim);
    outline: none;
    border: 1px var(--color-gray-2) solid;
    padding-left: 1.3rem;
}

.top-main-menu .container .search button {
    position: absolute;
    right: -0.1rem;
    width: 3rem;
    height: 100%;
    border: none;
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: 0 var(--border-radius-meduim) var(--border-radius-meduim) 0;
}

/* my account */
.top-main-menu .my-account a {
    color:var(--color-theme-dark);
    text-decoration: none;
    margin-left: 0.7rem;
    position: relative;
}

.top-main-menu .my-account a:hover {
    color:var(--color-theme);
}

.top-main-menu .my-account i {
    padding-right: 0.7rem;
}

/* notification from bootstrap */
.top-main-menu .my-account span {
    position:absolute;
    top:-1.2rem;
    left:0;
    background: var(--color-theme);
}

.top-main-menu .my-account a:hover span {
    color: var(--color-theme-dark);
}


/* browser, special offers */
.top-under-menu {
    border-top: 0.1rem var(--color-gray-3) solid ;
}

.top-under-menu .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* dropdown from bootstrap */
.top-under-menu .dropdown-theme button {
    background-color: var(--color-theme);
    color:var(--color-white);
    border:none;
    border-radius: var(--border-radius-small);
    padding:0.7rem;
}

.top-under-menu .dropdown-theme button:hover {
    background-color: var(--color-theme);
    color:var(--color-theme-dark);
}

.top-under-menu .dropdown-theme .dropdown-menu {
    background-color: var(--color-theme);
    border:none;
}

.top-under-menu .dropdown-theme .dropdown-menu .dropdown-item {
    background-color: var(--color-theme);
    color: var(--color-white);
}

.top-under-menu .dropdown-theme .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-theme);
    color: var(--color-theme-dark);
}

/* special offer button */
.top-under-menu .btn-theme {
    background-color: var(--color-theme);
    color:var(--color-white);
    border:none;
    height:99%;
}

.top-under-menu .btn-theme:hover{
    background-color: var(--color-theme);
    color:var(--color-theme-dark);
}

/* /header */
/* main */
/* location bar */
.location-bar {
    background-color: #4c526b;
    color:var(--color-white);
    font-size: 1rem;
}

.location-bar .container a {
    text-decoration: none;
    color: var(--color-white);
}

.location-bar .container a:hover {
    color:var(--color-dark);
    text-decoration: none;
}


.location-bar .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.location-bar .my-account{
    font-size: var(--font-size-16);
    color:var(--color-theme);
}

.location-bar .container .home{
    color:var(--color-theme);
}

.location-bar .container .home:hover {
    color: var(--color-dark);
}

/* login and register */

.container a {
    text-decoration: none;
    color: var(--color-theme);
}

.container a:hover {
    color: var(--color-theme-dark);
    text-decoration: underline;
}

.container .form-theme {
    background: var(--color-gray-4);
    color:var(--color-theme-dark);
    font-family: var(--font-roboto);
    border-radius: var(--border-radius-small);
    border: none;
    margin: 1rem 0;
    padding:2rem;
}

/* card input */
.container .form-theme {
    margin-top: 2rem;
}

.container .form-theme h2 {
    font-size: var(--font-size-16);
}

.container .form-theme p {
    font-size: var(--font-size-14);
    color: var(--color-theme-dark);
    margin-top: 1rem;
    margin-bottom: 0;
}

.container .form-theme p.muted-text {
    font-size: 0.8rem;
    color: #777777;
    margin-bottom: 1rem;
}

.container .form-theme .label-theme {
    font-size: var(--font-size-14);
    color: var(--color-theme-dark);
    margin-top: 1rem;
}

.container .form-theme .input-theme {
    border:var(--color-gray-2);
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.6rem 0.8rem;
    color: var(--color-theme-dark);
}

.container .form-theme input:focus {
    outline:none;
    box-shadow: 0 0 0.2rem 0 var(--color-gray-0);
}

/* button */
.container .form-theme .btn {
    border-radius: var(--border-radius-meduim);
    background: var(--color-theme);
    color:var(--color-white);
    border:none;
    margin: 1rem 0;
    width: 100%;
}

.container .form-theme .btn:hover{
    color: var(--color-theme-dark);
}

/* help */
.container .form-theme .login-help {
    display:flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

.container .form-theme .login-help .remember-me .checkbox{
    filter:brightness(97%);
    margin-right:0.5rem;
}

.container .form-theme .login-help .remember-me input[type=checkbox] {
    width: initial;
    color: var(--color-theme-dark);
}

.container .form-theme .login-help .remember-me label {
    margin:0;
    font-size: 0.7rem;
}

/* social media */
.container .form-theme .or-login-with{
    display: flex;
}

.container .form-theme .or-login-with h3 {
    text-align: center;
    font-size: var(--font-size-14);
    flex: 1;
    max-width: max-content;
    margin: 2rem 1rem;
}

.container .form-theme .or-login-with .line {
    display:block;
    background-color: var(--color-gray-0);
    align-self: center;
    border: 1px var(--color-gray-0) solid;
    height: 1px;
    flex: 1;
}

.container .form-theme .social-media-login{
    display:flex;
    justify-content: space-evenly;
}

.container .form-theme .social-media-login img {
    max-width: 10rem;
    transition: transform 300ms;
}

.container .form-theme .social-media-login img:hover {
    transform: scale(1.1);
}

/* /main */
/* footer */
.footer {
    background: var(--color-dark);
    height: 4rem;
    margin-top:5rem;
}

.footer .container {
    position:relative
}

.footer .container p {
    position:absolute;
    top: 1.3rem;
    font-size: 0.8rem;
    font-weight: var(--font-weight-regular);
    color: var(--color-white);
}


/* other @'s */
/* majority of transitions */
@media (hover:hover) {
    a , button , .btn , img , .info-box , .category-title{       
        transition:all 300ms;
    }
}

/* responsive */
@media (min-width:768px){
.hidden-text{
    display:inline;
}

/* header */
/* green top menu */
.top-menu .container {
    padding: none;
}

/* Logotype, my account */
.top-main-menu .my-account span {
    top:-1rem;
    left:0.7rem;
}

/* searchbar */
.top-main-menu .container .search {
    width: 100%;
}

/* browser, special offers */
.top-under-menu .dropdown-theme button {
    border-radius: 0;
}

/* /header */
/* main */
/* location bar */
.location-bar .container {
    padding: none;
}

.location-bar .my-account{
    padding: 2rem 0;
}

/* login and register */
.container .form-theme .login-help {
    font-size: 1rem;
}

.container .form-theme .social-media-login img {
    max-width: fit-content;
}

.container .form-theme .input-box .hidden-text {
    display:none;
}

.container .form-theme .login-help .remember-me label {
    font-size: 1rem;
}
}

@media (min-width:992px){

/* Logotype, my account */
.top-main-menu .container {
    padding:2rem 0.7rem;
    margin-bottom: 0;
}

.top-main-menu .container .logotype img{
    transition: transform 300ms;
}

.top-main-menu .container .logotype:hover img {
    transform: scale(1.1);
}

/* searchbar */
.top-main-menu .container .search {
    position: relative;
    top:0;
    width: 35vw;
    height:2rem;
}

.top-main-menu .container .search input{
    position: absolute;
    left:0;
    width: 100%;
}

.top-main-menu .container .search button {
    transition: color 300ms;
}

.top-main-menu .container .search button:hover {
    color: var(--color-theme-dark);
}

.top-main-menu .my-account span {
    top:-1rem;
    left:0.7rem;
    transition: all 500ms;
}

/* login and register */
.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.container .form-theme {
    grid-column: 1/2;
    grid-row: span 1;
}

.container .card-vertical{
    grid-column: 2/-1;
    grid-row: span 2;
}



}